@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: aliceblue;
}

.destaque{
    color: #58b1c6;
}

.apresentacao{
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    margin: 5% 8%;

}

.apresentacao__conteudo{
    width: 615px;
    font-family: "Krona One", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 28px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: #58b1c6;
    width: 260px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    text-decoration: none;
    color: black;
    font-family: "Krona One", sans-serif;
    font-size: 20px;
}

.imagem{
    border-radius: 10%;
    border: solid;
    border-color: #58b1c6;
}