@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #169976;
    --cor-hover: #222222;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: auto;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 8%;
}

.cabecalho__menu{
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link{
    
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    
}

.cabecalho__menu__link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--cor-terciaria);
    transition: 0.5s ease-in-out;
}

.cabecalho__menu__link:hover::after{
    width: 100%;
}

.cabecalho__mobile{
    display: none;
}

.cabecalho__imagem{
    display: none;
}

.destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    padding: 3% 8%;
    gap: 40px;
}

.apresentacao__conteudo{
    width: 50%;
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 1.75rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}


.apresentacao__link__subtitulo{
    font-size: 1.125rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;

}


.apresentacao__links__nav{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 1rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.625rem;
    transition: 0.3s ease-in-out;
}


.apresentacao__links__nav:hover{
    background-color: var(--cor-hover);
    letter-spacing: 0.2em;
    box-shadow: 0 0 35px var(--cor-terciaria);
}

.imagem{
    width: 30%;
    border-radius: 10%;
    border: solid var(--cor-terciaria);    
}

.rodape{
    padding: 10px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}

/* curriculo */

.conteiner{
    width: 75%;
    margin: auto;
    border: 2px solid #169976;
    height: auto;
    font-family: var(--fonte-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    border-radius: 2%;
}

.linha{
    width: 92%;
    height: 1px;
    background-color: var(--cor-terciaria);
    align-self: center;
    margin: 2% 0;
    
}

.curriculo__subtitulo{
    font-family: var(--fonte-primaria);
    font-size: 1.125rem;
}

@media (max-width: 850px) {

    .cabecalho__menu{
        padding: 1.2rem;
        display: none;
    }

    .cabecalho__imagem{
        display: block; 
    }

    .cabecalho__imagem button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .cabecalho__mobile .cabecalho__menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cabecalho__mobile .cabecalho__menu__link {
        display: block;
        padding: 0.5rem;
    }

    .open{
        display: block;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 3%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    
}

@media (max-width: 600px){
    .apresentacao__links__nav__img{
        display: none;
    }
}

