@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: auto;
    background-color: black;
    color: aliceblue;
}

.cabecalho{
    padding: 2% 0% 0% 8%;
}

.cabecalho__menu{
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link{
    
    text-decoration: none;
    color: #58b1c6;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    
}

.cabecalho__menu__link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #58b1c6;
    transition: 0.5s ease-in-out;
}

.cabecalho__menu__link:hover::after{
    width: 100%;
}

.destaque{
    color: #58b1c6;
}

.apresentacao{
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    padding: 3% 8%;

}

.apresentacao__conteudo{
    width: 615px;
    font-family: "Krona One", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 28px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}


.apresentacao__link__subtitulo{
    font-size: 18px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;

}


.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #58b1c6;
    width: 315px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    transition: 0.3s ease-in-out;
}


.apresentacao__links__link:hover{
    background-color: #272727;
    letter-spacing: 0.2em;
    box-shadow: 0 0 35px #58b1c6;
}

.imagem{
    border-radius: 10%;
    border: solid #58b1c6;    
}

.rodape{
    padding: 10px;
    background-color: #58b1c6;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}